.compress {
  margin: 2rem;
}

.compress__header {
  text-align: center;
}

.compress__header h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}

.compress__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: auto;
}

.compress_file, .decompress_file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compress__descr {
  font-weight: 300;
}

.compress_file h2 {
  color: #00b06a;
}

.decompress_file h2 {
  color: #ffa9d3;
}

.results__copy {
  color: #ffeff0;
  cursor: pointer;
  margin: 5px auto;
}

textarea {
  color: -internal-light-dark-color(white, black);
  background-color: -internal-light-dark-color(white, black);
  font-size: 16px;
  border: none;
}

button {
  background-color: rgb(255, 169, 211);
  border: 2px solid rgb(255, 169, 211);
  border-radius: 2rem;
  line-height: 1.5;
  color: rgb(153, 100, 103);
  margin: 5px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 16px;
}